<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <script type='text/javascript' src="/debug-gui/js/debug-gui-client.js"
        host='http://localhost:3000/debug-gui'
        debug='true';
        log-window='23'></script>
    <script src="/js/utils/dom-utils.js"></script>
    <script src="/js/utils/request.js"></script>
    <script src='/weather-fax/js/admin.js'></script>
    <script src="/weather-fax/js/order-form.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <debug-gui-data url='https://node.jozsefmorrissey.com/debug-gui/' dg-id='test'></debug-gui-data>
    <div class='left'>
      <label>User:</label>
      <input hidden type="text" name="admin-password" value="{{adminPassword}}">
      <input type="text" name="user-id" value="">
      <br>
      <a id='update-reports' href='#'>Update Schedualed Report Table</a>
      <div id='user-info'></div>
    </div>
  </body>
</html>
