<!-- timeStamp: {{timeStamp()}} -->
<div>
  <script src="/js/utils/dom-utils.js"></script>
  <script src="/weather-fax/js/order-form.js"></script>
  <style>
    div {text-align: center;}
    table {text-align: center; width: 100%;}
    {{isPdf ? 'html {zoom: 0.55; margin: 3em}' : '';}}
    {{!isPdf ? 'table {width: 50vw;}' : '';}}
    {{isPdf ? 'input {display: none;}' : '';}}
    .two-thirds {width: 66vw;}
    .half {width: 50vw;}
    .years-input {min-width: 5em;}
    .tab {margin-left: 15pt;}
    .left {text-align: left;}
    h2 {margin-bottom: 0}
    td {padding: 0 8pt;}
    .toggle-cnt > * {
      padding: 0 5pt;
      border-radius: 8pt;
    }
    .toggle-cnt > *:hover {
      background-color: #80808040;
    }
    .pointer {
      cursor: pointer;
    }
  </style>
  <input hidden name='account-id' value='{{user.faxNumber() || user.email()}}'>
  <input hidden name='orig-zip-code' value='{{user.zipCode()}}'>
  <input hidden name='orig-time-zone' value='{{user.timeZone()}}'>
  <input hidden name='orig-plan-name' value='{{user.plan().name()}}'>
  <div{{isPdf ? '' : ' class="half"'}}>
    <h2>Weather Fax</h2>
    <b>Order form</b>
  </div>
  <br>
  <table border="2" cellspacing="0" cellpadding="0">
    <thead>
      <caption><b>
        Account Information for
        {{user.isFax() ? 'Fax Number:' : 'Email:'}}
        {{user.userId()}}
      </b></caption>
      <tr>
        <td><b>Zip Code</b></td>
        <td><b>Time Zone</b></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{user.zipCode()}}</td>
        <td>{{user.timeZone()}}</td>
      </tr>
      <tr>
        <td><input type='number' maxlength="5" name="zipCode"/></td>
        <td><input name="timeZone"/></td>
        <td>Correct if neccisary</td>
      </tr>
    </tbody>
  </table>
  <br>
  <table border="2" cellspacing="0" cellpadding="0">
    <caption><b>Plans: {{user.plan().name()}}</b></caption>
    <thead>
      <tr>
        <td><b>Select</b></td>
        <td><b>Price per Year</b></td>
        <td><b>Name</b></td>
        <td><b>Description</b></td>
      </tr>
    </thead>
    <tbody>
      <tr:t repeat='key, plan in plans'>
        <td><input class='pointer' type='radio' name='plan' value='{{plan.name()}}'
            {{(user.plan().name() && user.plan().name() === plan.name()) ? 'checked' : ''}}></td>
        <td><z>$</z>{{plan.price()}}.00</td>
        <td>{{plan.name()}}</td>
        <td>{{plan.description()}}</td>
      </tr:t>
    </tbody>
  </table>
  <br>
  <table border="2" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <caption><b>Cost</b></caption>
        <td><b>Years</b></td>
        <td class='years-input'><input name='years' type=number min='1' max='5' value='1'></td>
        <td>Max 5 years you get a 6.25% discount for every additional year</td>
      </tr>
      <tr>
        <td><b>Total</b></td>
        <td><input name='total' disabled></td>
        <td><b>Formula:</b> pricePerYear * years * (1 - ((years - 1) * 0.0625))</td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class='left' {{user.schedualedReports().length === 0 ? 'hidden' : ''}}>
    <b>Existing Reports: Cross out to have them removed</b>
    <div:t class='left tab pointer orig-reports' repeat='report in user.schedualedReports()' id='{{report.id()}}'>
      <b>Time</b> {{report.time()}}
      <b>Type:</b> {{report.type()}}
      <b>Days:</b> {{dayIndexesToString(report.dayIndexes())}}
    </div:t>
  </div>
  <table border="2" cellspacing="0" cellpadding="0">
    <caption><b>Schedualed Reports</b></caption>
    <thead>
      <tr>
        <td><b>Time</b></td>
        <td><b>Days of the Week</b></td>
        <td><b>Type</b></td>
      </tr>
    </thead>
    <tbody>
      <tr:t repeat='i in 0..10'>
        <td><input type='time'></td>
        <td class='toggle-cnt days'>
          <span class='pointer' sending='true' day-index='0'>S</span>
          <span class='pointer' sending='true' day-index='1'>M</span>
          <span class='pointer' sending='true' day-index='2'>T</span>
          <span class='pointer' sending='true' day-index='3'>W</span>
          <span class='pointer' sending='true' day-index='4'>T</span>
          <span class='pointer' sending='true' day-index='5'>F</span>
          <span class='pointer' sending='true' day-index='6'>S</span>
        </td>
        <td class='toggle-cnt types'>
          <span class='pointer' style="text-decoration: line-through;">Hourly</span>
          <span class='pointer' style="text-decoration: line-through;">Daily</span>
          <span class='pointer' sending='true'>Both</span>
        </td>
      </tr:t>
  </table>

  <br>
  <div class='left'>
    {{isPdf ?
      `<b>Fax Copy to our service number at:</b><div class='left tab'>(217)572-9339</div>`
      : "<div class='center half'><button type='submit'>Submit</button></div>"}}
    <b>Mail payment and copy or original to:</b>
    <div class='left tab'>
      Jozsef Morrissey
      <br>
      716 West N. Water St.
      </br>
      Beathany IL 61914
    </div>
  <br>
  {{footer(isPdf)}}
</div>
