

.options-cnt {
  display: inline-flex;
}

.tab {
  padding-left: 20pt;
}

.options-cnt>h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.inline {
  display: inline-flex;
}

@media print {
  .dont-print {
    display: none;
  }
}

table {
  border-collapse: collapse;
  text-align: center;
}

td {
  padding: 2pt 5pt;
}

.modify-edit {
  background-color: orange;
  border-style: dotted;
  border-radius: 5pt;
}

button {
  cursor: pointer;
}

.error {
  border-color: red;
  border-width: 4pt;
}

.remove-btn-cnt>button {
  font-size: larger;
  font-weight: bold;
  border-radius: 15pt;
  padding: 0 2pt;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10pt;
}

textarea {
  height: 100pt;
  width: 750pt;
}
