
@media print {
  .no-print, .no-print *
  {
      display: none !important;
  }
  button.print
  {
      display: none !important;
  }
  body: {
    margin: 0;
    padding: 0;
  }
}
.page {
  break-after: page;
}

.build-diagram-measurement-cnt {
  padding-right: 5pt;
}

@page {
  margin:0;
  vertical-align: middle;
}

.avoid-page-break {
  break-inside: avoid-page;
}

.side-by-side {
  display: inline-flex;
  flex-wrap: wrap;
};

/* #layout-sketch-cnt {
  transform: scale(1, -1);
} */
input, select {
  height: 14pt;
  margin: 1pt 2pt;
}

h3,h4,h5 {
  margin: 0;
}

body {
  margin: 0;
}

.font-medium {
  font-size: medium;
}

#order-select-cnt.saving {
  background-color: #ffa5008c;
  padding: 0 10pt;
  border-radius: 6pt;
}

.show-cnt {
  z-index: 1;
}

.cab-tab-cnt {
  padding: 15pt;
}

#order-select-cnt {
  top: 0;
  position: fixed;
  background-color: whitesmoke;
  z-index: 1000;
  width: 100%;
  border-style: solid;
  border-width: 0 0 1pt 0;
  padding: 2pt 0;
}

table.no-border-cells {border-collapse: collapse;border: none;}
table.no-border-cells > tbody {border: none;}
table.no-border-cells tr {border: none;}
table.no-border-cells th, table.no-border-cells td {border: 1px solid black;}
table.no-border-cells .no-border {border: none;}
table.no-border-cells td {text-align: center; vertical-align: middle;}

.nowrap {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.remove-btn {
  float: right;
  padding: 0 2pt;
  font-size: small;
  font-weight: bold;
  border-radius: 10pt;
  color: red;
  background-color: white;
  margin: 3pt;
}

.orient-arrows [dir]:hover {
  background-color: lime;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

input[name='dependsSelector'],
input[name='dependentSelector'],
input[name='partCode'],
input[name='code'] {
  width: 75pt;
}

.drag-drop-popup-cnt {
  opacity: .75;
}

.transparent {
  opacity: .75;
}

.value-2d {
  opacity: .75;
}

.remove-btn-2d {
  opacity: .75;
}

canvas {
  border-style: groove;
  background-color: whitesmoke;
}

#template-list-TemplateManager_template-manager {
  position: absolute;
}

.three-view-canvases-cnt {
  z-index: 15;
  background-color: white;
  border-radius: 5pt;
  box-shadow: 3px 3px 6px black, 3px 3px 6px grey, 3px 3px 6px lightgrey;
}

.information-bar {
  position: fixed;
  top: 0;
  background-color: whitesmoke;
  left: 0;
  padding: 0 10pt;
  right: 0;
  border-bottom: gray;
  border-bottom-style: groove;
  border-bottom-width: 1pt;
}

.void-cnt {
  text-align: left;
}

[hidden] > canvas {
    display: none;
}

.margin-zero {
  margin: 0;
}

.margin {
  margin: 5pt;
}

.open-pattern-input-cnt > div {
  display: inline-flex;
}

.measurement-input {
    width: 50pt;
}

.measurement-radio-cnt {
  text-align: center;
  margin: auto;
  font-size: 6pt;
}

.measurement-radio-cnt > input {
  width: 6pt;
  height: 6pt;
}

.display-manager-item > button {
  width: fit-content;
  margin: 1pt;
  border-radius: 5pt;
  font-weight: 600;
  background-color: darkgrey;
  border-width: 1pt;
}

.display-manager-item > button:hover {
  border-width: 3pt;
}

.display-manager-item > button.active {
  background-color: blue;
  border-width: 1pt;
  color: white;
}


.divison-section-cnt {
  border-style: none;
  padding: 2pt;
  border-radius: 0;
  margin: 0;
  text-align: left;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.save-order-btn {
  float: right;
  margin: 10pt;
}

.small-margin {
  margin: 10pt;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}

.property-container {
  height: 100%;
  overflow: scroll;
  border-style: groove;
  text-align: center;
  padding: 5pt;
  border-radius: 10pt;
  margin: 2pt;
}

#menu-btn {
  position: fixed;
  z-index: 100;
  right: 0;
  top: 0;
  margin: 10pt;
  font-size: 20pt;
  border-radius: 20pt;
  padding: 3pt 10pt;
  background-color: whitesmoke;
  border-color: aliceblue;
}

.manager-save-btn {
  position: fixed;
  right: 25vw;
  z-index: 100;
}

#menu {
  position: fixed;
  width: 120pt;
  right: 0;
  top: 45pt;
  border-color: ivory;
  border-style: ridge;
  border-radius: 5pt;
  border-width: 1pt;
  margin: 2pt;
  z-index: 100;
  padding: 0 5pt;
  background-color: white;
}

#login {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: white;
}

a {
  font-size: x-small;
}

.center-all {
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.model-label {

}

.model-state.active {
  background-color: #d0d0ff;
  border-radius: 2px;
}

.open-divider-select {
  margin: 5pt;
}

.pad {
  padding: 3pt;
}

#model-display-cnt {
  display: inline-flex;
  max-height: 80vh;
  overflow: auto;
}

#model-controller {
  width: fit-content;
  background-color: white;
  padding: 20pt 5pt;
  overflow: auto;
  max-height: 80vh;
}

.indent {
  padding-left: 15pt;
}

.relitive {
  position: relative;
}

#model-cnt {
  background-position: -1px -1px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
  min-height: 50vh;
  max-width: 50vw;
  /* background-color: #ffffff94; */
}

#display-menu {
  text-align: center;
}

.absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

#display-menu > .display-manager {
  width: fit-content;
  display: inline-flex;
  position: relitive;
}

#order-cnt {
  position: absolute;
  z-index: 10;
  left: 1vw;
  top: 5%;
}

.upside-down {
  transform: rotate(180deg);
}

.mirror-x {
  transform: rotateX(180deg);
}

.mirror-y {
  transform: rotateY(180deg);
}

.cut-info-cnt {
  font-size: small;
}

.cut-info-cnt > b {
  font-size: medium;
}

#app {
  position: absolute;
}

#order-display-cnt > #model-cnt {
  position: fixed;
  top: 5%;
}

.inline {
  display: inline-block;
}

#three-d-model > #max-min-btn {
  position: absolute;
  top: 0;
  right: 0;
}

#two-d-model-canvas {
  width: 80vh;
  height: 80vh;
}

#model-display-cnt {
  margin-top: 25pt;
  float: right;
}

.chev-dropdown {
  border-style: solid;
  border-width: 0 0 0 3px;
  padding-left: 3pt;
}

.hidden {
  display: none;
}

.center {
  text-align: center;
}

.tab {
  margin-left: 10pt;
}

.left {
  float: left;
}

.right {
  float: right;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.fit {
  width: fit-content;
  height: fit-content;
}

.cabinet-header {
  display: inline-flex;
  white-space: nowrap;
}

.dem {
  width: 40pt;
}

.cabinet-input[type='id'] {
  margin-right: 30pt;
}

.cabinet-input {
  width: 60pt;
}

.cabinet-dem-cnt {
  margin-left: 10pt;
}

.cost-tree {
  margin: 2pt;
}

.error {
  font-size: small;
  font-weight: 700;
  color: red;
  background-color: pink;
}

.cabinet-template-input-cnt {
  margin: 2pt;
}

.three-view-canvas-cnt {
  display: grid;
  text-align: center;
}

.three-view-three-d-cnt {
  position: fixed;
  float: right;
  top: 0;
  right: 0;
}

.center-vert {
  text-align: center;
  margin: auto;
  padding: 0 10pt;
}

#du-copy-textarea {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.orientation-controls > .c{
  top: 0;
  right: 30pt;
}

.orientation-controls > .u{
  top: 0;
  right: 30pt;
}

.orientation-controls > .d{
  top: 20pt;
  right: 30pt;
}

.orientation-controls > .r{
  top: 10pt;
  right: 10pt;
}

.orientation-controls > .l{
  top: 10pt;
  right: 50pt;
}

.orientation-controls > div {
  font-size: 20pt;
  position: absolute;
}

td[dir] {
  font-size: 20pt;
}

#header-input {
  padding: 5pt 10pt;
  border: none;
  background-color: aliceblue;
  border-radius: 10pt;
  font-size: 18pt;
  text-align: center;
}

#single-order-cnt {
  height: 200vh;
}

.build-diagram {
  height: 55mm;
  width: 100mm;
}

table.no-borders, table.no-borders td, table.no-borders th, table.no-borders tr, table.no-borders tbody {
  border: none;
}

.build-diagram-cnt {
  width: 210mm;
  flex-wrap: wrap;

  margin: auto;
  vertical-align: middle;
  text-align: center;
};

.this-one {
  width: 80vw;
  height: 80vw;
}

.ruler {
  border-radius: 5px;
}
.ruler.active {
  background-color: black;
  color: white;
}

.part-canvas {
  width: 300px;
  height: 150px;
}

.part-cnt {
  overflow: auto;
  display: inline-flex;
}

.part-cnt[hidden] {
  display: none;
}

.part-header {
  margin: 0;
}

.part-ids-cnt {
  padding: 0 0 0 20pt
}

.part-header-cnt {
  display: flex;
}

.local-only {
    background-color: #32cd3224;
    border-radius: 8pt;
    border-color: limegreen;
    border-width: 3pt;
    border-style: dotted;
}

.local-only:empty {
  display: none;
}



/*                loading-css              */


.loading-bar-cnt {
  background-color: #8f8f8f7a;
  border-radius: 15pt;
  width: 150pt;
  margin: 0 15pt;
}

.loading-bar {
  background-color: blue;
  border-radius: 15pt;
  color: white;
  height:20px;
}

.ind-task-progress-cnt {
  display: inline-flex;
  flex-wrap: wrap;
}

.main-progress-cnt {
  margin: auto;
  width: 400pt;
}

/*               print-formats           */
.avery-5160 {
  width: 100vw;
  height: 100vh;
}

.avery-5160>.center-div {
  margin: auto;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);

}

.avery-5160 table {
    border: none;
    margin: auto;
}

.avery-5160 table>tbody {
    border: none;
}

.avery-5160 table td {
  border: solid 1pt;
  border-color: #80808040;
  border-radius: 3px;
  width: 31.5vw;
  height: 8.9vh;
}
