<div>
  <div class='center relitive'>
    <div class='absolute-top-left show-cnt'>
      <div class='align-right'>
        <label>Show</label>
        <select class="show-select" name='type' side='Left'>
          <option:t repeat='showType in showTypes'>{{showType.name}}</option:t>
        </select>
        <br>
        <label>End Style</label>
        <select class="show-select" name='endStyle' side='Left'>
          <option>No</option>
          <option>Yes</option>
        </select>
      </div>
    </div>
    <div class='cab-tab-cnt'>{{fileTabDisp.html()}}</div>
    <div class='absolute-top-right show-cnt'>
      <div class='align-left'>
        <select class="show-select" name='type' side='Right'>
          <option:t repeat='showType in showTypes'>{{showType.name}}</option:t>
        </select>
        <label>Show</label>
        <br>
        <select class="show-select" name='endStyle' side='Right'>
          <option>No</option>
          <option>Yes</option>
        </select>
        <label>End Style</label>
      </div>
    </div>
  </div>
  <br>
  <div>
    <span:t repeat='obj in modifiableValues'>
      <label>{{obj.key}}</label>
      <input type='text' value='{{display(obj.value)}}' class='modifiable-value-input'>
    </span:t>
  </div>
  <div class='center' hidden>
    <button class='save-cabinet-btn' index='{{$index}}'>Save</button>
  </div>
</div>
