<div lookup-id='{{cabinet.id()}}'>
  <div class='center relitive'>
    <div class='absolute-top-left show-cnt'>
      <div class='align-right'>
        <label>Show</label>
        <select class="show-select" name='type' side='left'>
          <option:t repeat='showType in showTypes'
              {{cabinet.value('show.left.type') === showType.name ? 'selected' : ''}}>
            {{showType.name}}
          </option:t>
        </select>
        <br>
        <label>End Style</label>
        <select class="show-select" name='endStyle' side='left'>
          <option {{!cabinet.value('show.left.endStyle') ? 'selected' : ''}}>
            No
          </option>
          <option {{cabinet.value('show.left.endStyle') ? 'selected' : ''}}>
            Yes
          </option>
        </select>
      </div>
    </div>
    <div class='toe-kick-cab-cnt auto-fit'>
      <label>Toe Kick</label>
      <br>
      <div class='auto-fit inline-flex'>
        <span>
          <input type='measurement' name='tkd' label='Depth' decimal='{{cabinet.resolve('tkd')}}'/>
        </span>
        &nbsp;&nbsp;&nbsp;
        <span>
          <input type='measurement' name='tkh' label='Height' decimal='{{cabinet.resolve('tkh')}}'/>
        </span>
      </div>
    </div>
    <div class='cab-tab-cnt'>{{fileTabDisp.html()}}</div>
    <div class='absolute-top-right show-cnt'>
      <div class='align-left'>
        <select class="show-select" name='type' side='right'>
          <option:t repeat='showType in showTypes'
              {{cabinet.value('show.right.type') === showType.name ? 'selected' : ''}}>
            {{showType.name}}
          </option:t>
        </select>
        <label>Show</label>
        <br>
        <select class="show-select" name='endStyle' side='right'>
          <option {{!cabinet.value('show.right.endStyle') ? 'selected' : ''}}>
            No
          </option>
          <option {{cabinet.value('show.right.endStyle') ? 'selected' : ''}}>
            Yes
          </option>
        </select>
        <label>End Style</label>
      </div>
    </div>
  </div>
  <br>
  <div>
    <div:t repeat='obj in modifiableValues'>
      <label>{{obj.key}}</label>
      <input type='text' value='{{display(obj.value)}}' class='modifiable-value-input'>
    </div:t>
  </div>
  <div class='center' hidden>
    <button class='save-cabinet-btn' index='{{$index}}'>Save</button>
  </div>
</div>
