<div>
  <div class='center relitive'>
    <div class='absolute-top-left'>
      <label>Show Left</label>
      <select class="show-left-select">
        <option:t repeat='showType in showTypes'>{{showType.name}}</option:t>
      </select>
    </div>
    {{fileTabDisp.html()}}
    <div class='absolute-top-right'>
      <select class="show-right-select">
        <option:t repeat='showType in showTypes'>{{showType.name}}</option:t>
      </select>
      <label>Show Right</label>
    </div>
  </div>
  <br>
  <div>
    <span:t repeat='obj in modifiableValues'>
      <label>{{obj.key}}</label>
      <input type='text' value='{{display(obj.value)}}' class='modifiable-value-input'>
    </span:t>
  </div>
  <div class='center' hidden>
    <button class='save-cabinet-btn' index='{{$index}}'>Save</button>
  </div>
</div>
