<div class='cabinet-header'>
  <input class='cabinet-id-input' prop-update='{{$index}}.id'
        index='{{$index}}' value='{{cabinet.id || $index}}'>
  Size:
  <div class='cabinet-dem-cnt'>
    <label>W:</label>
    <input class='cabinet-input dem' prop-update='{{$index}}.width' value='{{cabinet.width()}}'>
    <label>H:</label>
    <input class='cabinet-input dem' prop-update='{{$index}}.length' value='{{cabinet.length()}}'>
    <label>D:</label>
    <input class='cabinet-input dem' prop-update='{{$index}}.thickness' value='{{cabinet.thickness()}}'>
  </div>
</div>
