<div class='cabinet-header' cabinet-id='{{cabinet.id()}}'>
  {{$index}})
  <input class='cabinet-id-input' prop-update='{{$index}}.name'
        index='{{$index}}' display-id='{{displayId}}' value='{{cabinet.name()}}'>
  Size:
  <div class='cabinet-dem-cnt' cabinet-id='{{cabinet.id()}}'>
    <label>W:</label>
    <input class='cabinet-id-input dem' prop-update='{{$index}}.width' name='width'
        display-id='{{displayId}}' value='{{displayValue(cabinet.width())}}'>
    <label>H:</label>
    <input class='cabinet-id-input dem' prop-update='{{$index}}.length' name='length'
        display-id='{{displayId}}' value='{{displayValue(cabinet.length())}}'>
    <label>D:</label>
    <input class='cabinet-id-input dem' prop-update='{{$index}}.thickness' name='thickness'
        display-id='{{displayId}}' value='{{displayValue(cabinet.thickness())}}'>
  </div>
</div>
