<div id='model-cnt'>
  <div id='display-menu'></div>
  <div>
    <div id='display-tabs'>
      <div id='display-type-tabs'></div>
      <div id='display-demension-tabs'></div>
    </div>

    <div id='canvas-cnt'>
      <div id='room-2d' hidden>
        <canvas></canvas>
        <div class='orientation-controls'></div>
      </div>

      <div id='object-2d' hidden>
        <canvas></canvas>
        <div class='orientation-controls'></div>
      </div>

      <div id='part-2d' hidden>
        <canvas></canvas>
        <div class='orientation-controls'></div>
      </div>

      <div id="three-d-model" class="viewer small" hidden>
        <div class='inline left'>
          <div class='orientation-controls'></div>
        </div>
      </div>
      <div id='edit-display' hidden></div>
    </div>
  </div>
  <div id='view-html-cnt'></div>
</div>
