<div id='model-cnt'>
  <div id='display-menu'></div>
  <div id='model-display-cnt'>
    <div name="Layout" id='two-d-model'>
      <canvas id="two-d-model-canvas"></canvas>
      <div class='orientation-controls'></div>
    </div>
    <div name='Cabinet' id='disp-canvas-cab'></div>
    <div name='Parts 3D' id='disp-canvas-p3d'>
      <div id='model-controller'></div>
    </div>
    <div name='Parts 2D' id='disp-canvas-p2d'></div>
    <div name='Room' id='disp-canvas-room'></div>
    <div id="three-d-model" class="viewer small">
      <div class='inline left'>
        <div class='orientation-controls'></div>
      </div>
    </div>
  </div>
</div>
