<div>
  <label>Dividers:</label>
  <input type="number" min="0" max="10" step="1"
      class='division-count-input' opening-id='{{opening.uniqueId}}'
      value='{{opening.dividerCount()}}'>
  <span class="open-orientation-radio-cnt {{opening.dividerCount() > 0 ? '' : 'hidden'}}">

    <label for='open-orientation-horiz-{{opening.uniqueId}}'>Horizontal:</label>
    <input type='radio' name='orientation-{{opening.uniqueId}}' value='horizontal'
        open-id='{{opening.uniqueId}}' id='open-orientation-horiz-{{opening.uniqueId}}'
        class='open-orientation-radio' {{opening.value('vertical') ? '' : 'checked'}}>

    <label for='open-orientation-vert-{{opening.uniqueId}}'>Vertical:</label>
    <input type='radio' name='orientation-{{opening.uniqueId}}' value='vertical'
        open-id='{{opening.uniqueId}}' id='open-orientation-vert-{{opening.uniqueId}}'
        class='open-orientation-radio' {{opening.value('vertical') ? 'checked' : ''}}>

  </span>
  <select class='open-pattern-select {{ opening.dividerCount() > 0 ? '' : 'hidden'}}'
        id='{{selectPatternId}}' prop-update='pattern' divisions={{opening.dividerCount()}}>
    {{patterns}}
  </select>
  <span:t class='input-html-cnt-{{opening.uniqueId}}' repeat='label in pattern.inputArr'>
    <label>{{label}}</label>
    <input class='division-pattern-input' name='{{pattern.name}}' index='{{$index}}'
        value='{{fill ? fill[$index] : ""}}'>
  </span:t>
</div>
