<div>
  <label>Dividers:</label>
  <input class='division-pattern-input' type='text' name='pattern'
      opening-id='{{opening.id()}}' value='{{opening.pattern().str.length < 2 ? '' : opening.pattern().str}}'>

  <span class="open-orientation-radio-cnt">
    <div class='div-orien-btn {{opening.value('vertical') ? '' : 'pressed'}}' orientation='horizontal'>
      <i class='gg-horizontal'></i>
    </div>
    <div class='div-orien-btn {{!opening.value('vertical') ? '' : 'pressed'}}' orientation='vertical'>
      <i class='gg-vertical'></i>
    </div>
  </span>
  <div{{opening.divideRight() ? '': ' hidden'}}>
    {{dividerTypeSelect.html()}}
  </div>
  <div class='open-pattern-input-cnt' opening-id='{{opening.id()}}'
      {{opening.pattern().equals ? 'hidden' : ''}}>
    {{patternInputHtml}}
  </div>
</div>
