<div>
  <label>Dividers:</label>
  <input type="number" min="0" max="10" step="1"
      class='division-count-input' opening-id='{{opening.uniqueId}}'
      value='{{opening.dividerCount()}}'>
  <span class="open-orientation-radio-cnt {{opening.dividerCount() > 0 ? '' : 'hidden'}}">

    <label for='open-orientation-horiz-{{opening.uniqueId}}'>Horizontal:</label>
    <input type='radio' name='orientation-{{opening.uniqueId}}' value='horizontal'
        open-id='{{opening.uniqueId}}' id='open-orientation-horiz-{{opening.uniqueId}}'
        class='open-orientation-radio' {{opening.value('vertical') ? '' : 'checked'}}>

    <label for='open-orientation-vert-{{opening.uniqueId}}'>Vertical:</label>
    <input type='radio' name='orientation-{{opening.uniqueId}}' value='vertical'
        open-id='{{opening.uniqueId}}' id='open-orientation-vert-{{opening.uniqueId}}'
        class='open-orientation-radio' {{opening.value('vertical') ? 'checked' : ''}}>

  </span>
  <span>
    <input type='text' name='pattern' opening-id='{{opening.uniqueId}}' value='{{opening.pattern().str}}'>
    <div class='open-pattern-input-cnt' opening-id='{{opening.uniqueId}}'>
      {{patternInputHtml}}
    </div>
</div>
