<div>
  <div class='model-selector'>
    <div {{group.level > 0 ? 'hidden' : ''}}>
      <div class='{{tdm.isTarget("prefix", group.prefix) ? "active " : ""}}
                  {{label ? "prefix-switch model-label" : ""}}'
            {{!label ? 'hidden' : ''}}>
        <label type='prefix'>{{label}}</label>
        <input type='checkbox' class='prefix-checkbox' prefix='{{group.prefix}}'
            {{!tdm.hidePrefix(label) ? 'checked' : ''}}>
      </div>
      <div class='{{label ? "prefix-body indent" : ""}}'
            {{label ? 'hidden' : ''}}>
        <div:t class='model-label{{tdm.isTarget("part-name", partName) ? " active" : ""}}'
                repeat='partName, partList in group.parts'>
          <label type='part-name'>{{partName}}</label>
          <input type='checkbox' class='part-name-checkbox' part-name='{{partName}}'
              {{!tdm.hidePartName(partName) ? 'checked' : ''}}>
          <div:t class='{{tdm.isTarget("part-code", part.partCode) ? "active " : ""}}
                        model-label indent'
              repeat='part in partList'
              {{partList.length > 1 ? "" : "hidden"}}>
            <label type='part-code'>{{part.partCode}}</label>
            <input type='checkbox' class='part-code-checkbox' part-code='{{part.partCode}}'
                {{!tdm.hidePartCode(part.partCode) ? 'checked' : ''}}>
          </div:t>
        </div:t>
        <div:t repeat='label, group in group.groups' $t-id='model-controller'></div:t>
      </div>
    </div>
  </div>
</div>
