<div class='{{group.level < 2 ? '' : 'model-selector indent'}}'
              {{group.level < 2 ? '' : 'hidden'}}>
  <div  prefix='{{group.prefix}}'
          class='model-state{{label ? " prefix-switch" : ""}}'>
    <label type='prefix'>{{label}}</label>
    <input type='checkbox' class='part-code-checkbox' part-code='{{group.prefix}}'
        {{!tdm.hidePrefix(group.prefix) ? 'checked' : ''}}
        {{group.level === 0 ? 'hidden' : ''}}>
    <div class='model-container'>
      <div:t class='model-state {{group.level < 1 ? '' : 'model-label indent'}}'
              repeat='partCode, part in group.parts'
              prefix='{{part.locationCode()}}'>
        <label type='part-name' part-code='{{partCode}}'>
            {{partCode}}
        </label>
        <input type='checkbox' class='part-code-checkbox' part-code='{{part.locationCode()}}'
                {{!tdm.hidePrefix(part.locationCode()) ? 'checked' : ''}}>
      </div:t>
    </div>
    <div:t repeat='label, group in group.groups' $t-id='model-controller'></div:t>
  </div>
</div>
