<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src='/cabinet/js/index.js'></script>
    <!-- <script type="text/javascript" src='/cabinet/js/web-worker.js'></script> -->
    <script type="text/javascript" src='/js/qrious.js'></script>
    <link rel="stylesheet" href="/styles/expandable-list.css">
    <link rel="stylesheet" href="/styles/file-tab.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/cabinet/styles/estimate.css">
    <script src="/js/utility-filter.js" run-type='auto'></script>
    <title>CComp</title>
  </head>
  <body>
    <div id='order-select-cnt' class='center'>
      <span id='order-selector-cnt' hidden></span>
      <button type="button" class='auto-save-btn' name="button">Choose Save Location</button>
      <span id='save-time-cnt'></span>
    </div>
    <div class='expandable-list' id='single-order-cnt'>
      <div id='main-display-menu' class='display-manager center'></div>
      <div id='display-cnt'>
        <div id='order-display-cnt'>
          <div id='order-cnt'>
            <div class='center pad'>
              <input id='order-name-input' class='header-input' size='20' type="text" name="order-name">
              <input id='order-version-input' class='header-input' size='20' type="text" name="order-version">
            </div>
            <div id="order-tab-cnt"></div>
          </div>
          <div:t class='tab' $t-id='canvas-displays'></div:t>
        </div>
        <div id='information-display'>
          <utility-filter id='uf-order-info' edit='true'></utility-filter>
        </div>
      </div>
    </div>
    <canvas id='qr-demo'></canvas>
    <div id='print-body'>
      <button class='print'>Print</button>
      <div class='page'>
        <h1>PAGE</h1>
      </div>
      <div class='page'>
        <h1>PAGE</h1>
      </div>
      <div class='page'>
        <h1>PAGE</h1>
      </div>
      <div class='page'>
        <h1>PAGE</h1>
      </div>
      <button class='print'>Print</button>
    </div>

  </body>
</html>
