<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src='/cabinet/js/index.js'></script>
    <script type="text/javascript" src='/js/qrious.js'></script>
    <link rel="stylesheet" href="/styles/expandable-list.css">
    <link rel="stylesheet" href="/styles/file-tab.css">
    <link rel="stylesheet" href="/styles/icons.css">
    <link rel="stylesheet" href="/cabinet/styles/estimate.css">
    <link rel="stylesheet" href="/styles/loading.css">
    <script src="/js/utility-filter.js" run-type='auto'></script>
    <title>CComp</title>
  </head>
  <body class='dark'>
    <div class='expandable-list' id='single-order-cnt'>
      <div id='main-display-menu' class='display-manager center'></div>
      <div id='display-cnt'>
        <div id='order-display-cnt'>
        <div id='order-cnt'>
          <div id="order-tab-cnt"></div>
        </div>
      </div>
    </div>
    <canvas id='qr-demo' hidden></canvas>
  </body>
</html>
