<div class='three-view-cnt' id='{{id()}}'>
  <div class='three-view-three-d-cnt'>
    <div class='inline left'>
      <div class='orientation-controls' id='three-d-orientation-controls'></div>
      <span id="model-controller"></span>
    </div>
  </div>
  <div class='three-view-two-d-cnt'>
    <div class='three-view-canvases-cnt inline-flex' id='{{id()}}-cnt'>
      <div class='part-input-cnt center-vert'>
        <input type="text" name="partSelector" list='part-list'>
        <datalist id='part-list'></datalist>
      </div>
      <div class='center-vert'>Part Code: <b id='three-view-part-code-{{id()}}'></b></div>
      <span class='three-view-canvas-cnt'>
        <b>Three View Drawing</b>
        <canvas id="three-view" width="{{maxDem()}}" height="{{maxDem()}}"></canvas>
      </span>
    </div>
  </div>
</div>
