<table>
  <tr>
    <th></th>
    <th:t colspan='3' repeat="char in ['start(x|y|z)', 'end(x|y|z)']">{{char}}</th:t>
    <th>Calculated</th>
    <th>Value</th>
  </tr>
  <tr:t index="{{$index}}" repeat="i, label in ['Cross Grain', 'With Grain', 'End Grain']"
          class='tab normal-vector-input-cnt'>
    <td><label>{{label}}</label></td>
      <no-tag:t repeat="j in 0..2">
        <td:t repeat='k in 0..3'>
          <input class='template-input dem' short attr='subassemblies'
                  value="{{part.config.NORMALS.lines[i][j][k]}}"
                  {{part.config.NORMALS.lines.calc === i ? 'disabled' : ''}}>
        </td:t>
      </no-tag:t>
    <td>
      <input type='radio' name='calculated' class='calc-vect-radio'
        {{part.config.NORMALS.lines.calc === i ? 'checked' : ''}}>
    </td>
  </tr:t>
</table>
