<div>
  <table>
    <tr config-attr='demension'>
      <td>Demension</td>
      <td>
        <div:t t-id='advanced/input/xyz'>{
          label: 'Demension',
          x: part.width(),
          y: part.length(),
          z: part.thickness()
          }</div:t>
        </td>
      </tr>
      <tr config-attr='center'>
        <td>Center</td>
        <td>
        <div:t t-id='advanced/input/xyz'>{
          label: 'Center',
          x: part.width(),
          y: part.length(),
          z: part.thickness()
          }</div:t>
        </td>
      </tr>
  </table>
</div>
