
<div class="expandable-list {{type}}" ex-list-id='{{id}}'>
  <div:t repeat='item in list' class="expandable-list-body"  index='{{$index}}'>
    <div class="expand-item">
      <button class='expandable-item-rm-btn' ex-list-id='{{id}}' index='{{$index}}'>X</button>
      <div class="expand-header {{type}}"  ex-list-id='{{id}}' index='{{$index}}'>
        {{getHeader(item, $index)}}
      </div>
      <div class="expand-body {{type}}"  ex-list-id='{{id}}' index='{{$index}}'>
        {{getBody(item, $index)}}
      </div>
    </div>
  </div:t>
  <div>
    <div id='input-tree-cnt'>{{inputTree ? inputTree.html() : ''}}</div>
    <span:t repeat='input in inputs'>
      <input list='auto-fill-list-{{input.id}}' id='{{input.id}}'
          placeholder='{{input.placeholder}}' type='text'>
      <datalist id="auto-fill-list-{{input.id}}">
        <option:t value="{{option}}" repeat='option in input.autofill'></option:t>
      </datalist>
    </span:t>
    <button ex-list-id='{{id}}' class='expandable-list-add-btn'
          {{hideAddBtn ? 'hidden' : ''}}>
      Add {{listElemLable}}
    </button>
  </div>
  <div class='error' id='{{ERROR_CNT_ID}}'></div>
</div>
