<div>
  <div>
    <b>Job Name</b>
    {{jobName()}}
    <br>
    <b>Today's Date</b>
    {{todaysDate()}}
    <b>Due Date</b>
    {{dueDate()}}
  </div>
  <div>
    <b>Invoice #</b>
    {{invoiceNumber()}}
    <b>P.O. #</b>
    {{poNumber()}}
  </div>
<table>
  <tr>
    <td class='label-cnt'>
      <label>Company Name</label>
      {{companyName()}}
    </td>
    <td class='label-cnt'>
      <label>Sales Rep</label>
      {{salesRep()}}
    </td>
  </tr>
  <tr>
    <td class='label-cnt'>
      <label>Shipping Address</label>
      {{shippingAddress()}}
    </td>
    <td class='label-cnt'>
      <label>Ship VIA</label>
      {{shipVia()}}
    </td>
  </tr>
  <tr>
    <td class='label-cnt'>
      <label>Billing Address</label>
      {{billingAddress()}}
    </td>
  </tr>
  <tr>
    <td class='label-cnt'>
      <label>Phone</label>
      {{phone()}}
    </td>
    <td class='label-cnt'>
      <label>Email</label>
      {{email()}}
    </td>
    <td class='label-cnt'>
      <label>Fax</label>
      {{fax()}}
    </td>
  </tr>
</table>
