<div>
  <div>
    <div class='dynamic'>
      <b>Job Name</b>
      <span prop-update='jobName'>{{jobName()}}</span>
    </div>
    <br>
    <b>Today's Date</b>
    {{todaysDate()}}
    <div  class='dynamic'>
      <b>Due Date</b>
      <span prop-update='dueDate' type='date'>{{dueDate()}}</span>
    </div>
  </div>
  <div>
    <b>Invoice #</b>
    {{invoiceNumber()}}
    <div class='dynamic'>
      <b>P.O. #</b>
      <span prop-update='poNumber'>{{poNumber()}}</span>
    </div>
  </div>
<table>
  <tr>
    <td class='dynamic label-cnt'>
      <label>Company Name</label>
      <div prop-update='companyName'>{{companyName()}}</div>
    </td>
    <td class='dynamic label-cnt'>
      <label>Sales Rep</label>
      <div prop-update='salesRep'>{{salesRep()}}</div>
    </td>
  </tr>
  <tr>
    <td class='dynamic label-cnt'>
      <label>Shipping Address</label>
      <div prop-update='shippingAddress'>{{shippingAddress()}}</div>
    </td>
    <td class='dynamic label-cnt'>
      <label>Ship VIA</label>
      <div prop-update='shipVia'>{{shipVia()}}</div>
    </td>
  </tr>
  <tr>
    <td class='dynamic label-cnt'>
      <label>Billing Address</label>
      <div prop-update='billingAddress'>{{billingAddress()}}</div>
    </td>
  </tr>
  <tr>
    <td class='dynamic label-cnt'>
      <label>Phone</label>
      <div prop-update='phone'>{{phone()}}</div>
    </td>
    <td class='dynamic label-cnt'>
      <label>Email</label>
      <div prop-update='email'>{{email()}}</div>
    </td>
    <td class='dynamic label-cnt'>
      <label>Fax</label>
      <div prop-update='fax'>{{fax()}}</div>
    </td>
  </tr>
</table>
