
<div class="expandable-list {{type()}}" ex-list-id='{{id()}}'>
  <div class="expand-list-cnt {{type()}}" ex-list-id='{{id()}}'>
    <div:t repeat='item in list()' class="expandable-list()-body"  key='{{$index || $key}}'>
      <div class="expand-item">
        <div class='expand-rm-btn-cnt'>
          <button class='expandable-item-rm-btn' ex-list()-id='{{id()}}' key='{{$index || $key}}'>X</button>
        </div>
        <div class="expand-header {{type()}}" ex-list()-id='{{id()}}' key='{{$index || $key}}'>
          {{getHeader(item, $index || $key)}}
        </div>
      </div>
    </div:t>
  </div>
  <div>
    <div class='expand-input-cnt' hidden>{{inputHtml()}}</div>
    <br>
    <div class='error' id='{{ERROR_CNT_ID}}'></div>
  </div>
  <div class="expand-body {{type()}}"></div>
</div>
