
<div class="expandable-list {{type()}}" ex-list-id='{{id()}}'>
  <div class="expand-list-cnt {{type()}}" ex-list-id='{{id()}}'>
    <div:t repeat='item in list()' class="expandable-list-body"  key='{{$index || $key}}'>
      <div class="expand-item">
        <div class='expand-rm-btn-cnt'>
          <button class='expandable-item-rm-btn' ex-list-id='{{id()}}' key='{{$index || $key}}'>X</button>
        </div>
        <div class="expand-header {{type()}} {{($index || $key) === activeKey ? ' active' : ''}}"
                ex-list-id='{{id()}}' index='{{$index || $key}}'>
          {{getHeader(item, $index || $key)}}
        </div>
      </div>
    </div:t>
    <div class='expand-input-cnt' hidden>{{inputHtml()}}</div>
    <div class='input-open-cnt'>Add {{listElemLable()}}</div>
  </div>
  <div>
  </div>
  <div class="expand-body {{type()}}">
    Hello World!
  </div>
</div>
