<div class='orientation no-print'  id='{{navId()}}' l-id='{{id()}}'>
  <div class='arrows'>
    <table cellspacing="0" cellpadding="0">
      <tr>
        <td cmd='settings'><i class='gg-menu-round'></i></td>
        <td cmd='u'>&#8681;</td>
        <td cmd='color'><input type='color' value='{{color()}}'/></td>
      </tr>
      <tr>
        <td cmd='l'>&#8680;</td>
        <td cmd='c'>{{space()}}&#8865;{{space()}}</td>
        <td cmd='r'>&#8678;</td>
      </tr>
      <tr>
        <td></td>
        <td cmd='d'>&#8679;</td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class='settings' hidden>
    <button class='remove-btn'>X</button>
    <div class='body'></div>
  </div>
</div>
