<div>
  <button class='assembly remove-btn'>X</button>
  <h3 class='inline-flex chev-dropdown-toggle'>
    {{void.partCode()}}
    <i class='down gg-chevron-down hidden' ></i>
    <i class='right gg-chevron-right'></i>
  </h3>
  <input type="text" class='void-dem' name="width" value="{{Measurement.display(void.width())}}">
  X
  <input type="text" class='void-dem' name="length" value="{{Measurement.display(void.width())}}">
  <br>
  <div class='tab chev-dropdown' hidden>
    <div>
      <h3 class='inline-flex chev-dropdown-toggle'>
        Joint Config
        <i class='down gg-chevron-down hidden' ></i>
        <i class='right gg-chevron-right'></i>
      </h3>
      <div class='tab chev-dropdown joint-config' hidden>
        <label>Cap Set</label>
        <input type='number' min='0' max='2' step='1' value='{{void.capSet()}}'/>
        <br/>
        <label>Cap Male</label>
        <input type='checkbox' {{void.capMale() ? 'checked' : ''}}/>
        <br/>
        <label>Male Set</label>
        <input type='number' min='0' max='1' step='1' value='{{void.maleSet()}}'/>
        <br/>
        <label>Joint</label>
        <select class='joint-selector'>
          <option>Body</option>
          <option>Cap</option>
          <option>Non Void</option>
          <option>Void Panel</option>
        </select>
        <div class='void-joint-input-cnt tab'>
          {{inputs.joint().html()}}
        </div>
      </div>
    </div>
    <div class='input-set'>
      <label>Include sides</label>
      <span:t  repeat='i in 0..6'>
        <label>{{void.label(i)}}</label>
        <input type='checkbox' name='{{void.label(i)}}' {{void.include(void.label(i)) ? 'checked' : ''}}>
      </span:t>
    </div>
    <div:t t-id='advanced/subassemblies/assembly-config'></div:t>
  </div>
</div>
