<div class='void-display-cnt' void-id='{{id()}}' cabinet-id='{{cabinetId()}}'>
  <select class='void-part-code-select'>
    <option:t repeat='partCode in partCodes()' {{partCode === 'c_BACK' ? 'selected' : ''}}>
      {{partCode}}
    </option:t>
  </select>
  <label>Horizontal</label>
  <input type='radio' name='orientation' value='horizontal' checked>
  <label>Vertical</label>
  <input type='radio' name='orientation' value='vertical'>
  <label>Size</label>
  <input type='text' name='width' class='dem' value='5'>
  <label>X</label>
  <input type='text' name='height' class='dem' value='5'>
  <button class='add-void-btn'>Add</button>
  <div class='void-cnt'>
    <div:t class='card margin' repeat='void in voids()' index='{{$index}}' target-id='{{void.id()}}'>
      <button class='assembly remove-btn'>X</button>
      <h3 class='inline-flex'>{{void.partCode()}}</h3>
      <input type="text" class='void-dem' name="width" value="{{displayWidth(void)}}">
      X
      <input type="text" class='void-dem' name="length" value="{{displayLength(void)}}">
      <br>
      <h3 class='inline-flex chev-dropdown-toggle'>
        Advanced
        <i class='down gg-chevron-down hidden' ></i>
        <i class='right gg-chevron-right'></i>
      </h3>
      <div class='tab chev-dropdown' hidden>
        <label>Joint Set:</label>
        <select class='set-selector'>
          <option:t repeat='i in 0..6' {{jointSet === i ? 'selected' : ''}}>
            {{i}}
          </option:t>
        </select>
        <br>
        <div class='input-set'>
          <label>Include sides</label>
          <span:t  repeat='i in 0..6'>
            <label>{{i}}</label>
            <input type='checkbox' name='includedSides.{{i}}' {{void.included(i) ? 'checked' : ''}}>
          </span:t>
        </div>
        {{assemblyConfig(void).html()}}
      </div>
    </div:t>
  </div>
</div>
