<div class='template-body' template-id={{template.id()}}>
  <div class='inline-flex full-width'>
    <h4>{{template.type())}}</h4>
    <div class='full-width'>
      <button class='copy-template right'>Copy</button>
      <button class='paste-template right'>Paste</button>
    </div>
  </div>
  <div></div>
  <span class='part-input-cnt'>
    <br>
    <input type="text" name="partSelector" list='part-list'>
    <datalist id='part-list'></datalist>
  </span>
  <input class='cabinet-input dem' type="text" name="width" value="{{toDisplay(template.width())}}">
  X
  <input class='cabinet-input dem' type="text" name="height" value="{{toDisplay(template.height())}}">
  X
  <input class='cabinet-input dem' type="text" name="thickness" value="{{toDisplay(template.thickness())}}">
  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>Values</div>
    <div hidden class="{{containerClasses.values}}"></div>
  </div>
  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>Subassemblies</div>
    <div hidden class="{{containerClasses.subassemblies}}">2</div>
  </div>
  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>Joints</div>
    <div hidden class="{{containerClasses.joints}}">3</div>
  </div>
  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>Divider Joint</div>
    <div hidden class="{{containerClasses.dividerJoint}}">
      {{dividerJointInput.html()}}
    </div>
  </div>
  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>Openings</div>
    <div hidden class="{{containerClasses.openings}}">5</div>
  </div>
  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>View Shape</div>
    <div hidden>{{templateShapeInput.html()}}</div>
  </div>
</div>
