<div class='template-body' template-id={{template.id()}}>
  <div class='inline-flex full-width'>
    <h4 class='nowrap'>{{template.type())}}</h4>
    <div class='full-width'>
      <button class='copy-template right'>Copy</button>
      <button class='paste-template right'>Paste</button>
    </div>
  </div>
  <label>Automatic Toekick</label>
  <input type="checkbox" name="autoToeKick" {{template.autoToeKick() ? 'checked' : ''}}>
  <br>
  <label>Height from floor:</label>
  <input class='cabinet-input dem' type="text" name="fromFloor" value="{{template.fromFloor()}}">
  <input class='cabinet-input' type="text" name="fromFloorValue" disabled>
  <br>
  <div class='inline-flex'>
    <label>Demensions: </label>
    <span>
      <input class='cabinet-input dem' type="text" name="width" value="{{toDisplay(template.width())}}">
      X
      <input class='cabinet-input dem' type="text" name="height" value="{{toDisplay(template.height())}}">
      X
      <input class='cabinet-input dem' type="text" name="thickness" value="{{toDisplay(template.thickness())}}">
      <br>
      <input class='cabinet-input' type="text" name="widthValue" disabled>
      X
      <input class='cabinet-input' type="text" name="heightValue" disabled>
      X
      <input class='cabinet-input' type="text" name="thicknessValue" disabled>
    </span>
  </div>

  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>Values</div>
    <div hidden class="{{containerClasses.values}}"></div>
  </div>
  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>Subassemblies</div>
    <div hidden class="{{containerClasses.subassemblies}}">2</div>
  </div>
  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>Joints</div>
    <div hidden class="{{containerClasses.joints}}">3</div>
  </div>
  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>Divider Joint</div>
    <div hidden class="{{containerClasses.dividerJoint}}">
      {{dividerJointInput.html()}}
    </div>
  </div>
  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>Openings</div>
    <div hidden class="{{containerClasses.openings}}">5</div>
  </div>
  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>View Shape</div>
    <div hidden>
      <div template-id='{{template.id()}}' class='layout-shape-display'>
        <canvas class="top-sketch" width="200" height="200"></canvas>
        <canvas class="front-sketch" width="200" height="200"></canvas>
      </div>
    </div>
  </div>
</div>
