<div class='template-body' template-id={{template.id()}}>
  <div class='inline-flex full-width'>
    <h4 class='nowrap'>{{template.type())}}</h4>
    <div class='full-width'>
      <button class='copy-template right'>Copy</button>
      <button class='paste-template right'>Paste</button>
    </div>
  </div>
  <div:t t-id='managers/template/headers/{{template.constructor.cxtrType.toLowerCase()}}'>{hideEmpty: true}</div:t>
  <br>
  <div class='inline-flex'>
    <label>Demensions: </label>
    <span>
      <input class='cabinet-input dem' type="text" name="width" value="{{toDisplay(template.width())}}">
      X
      <input class='cabinet-input dem' type="text" name="height" value="{{toDisplay(template.height())}}">
      X
      <input class='cabinet-input dem' type="text" name="thickness" value="{{toDisplay(template.thickness())}}">
      <br>
      <input class='cabinet-input' type="text" name="widthValue" disabled>
      X
      <input class='cabinet-input' type="text" name="heightValue" disabled>
      X
      <input class='cabinet-input' type="text" name="thicknessValue" disabled>
    </span>
  </div>

  <div:t repeat='container in containers' t-id='managers/template/expand-cnt'></div:t>

  <div template-id='{{template.id()}}' class='cabinet-template-input-cnt'>
    <div class='expand-header'>View Shape</div>
    <div hidden>
      <div template-id='{{template.id()}}' class='layout-shape-display'>
        <canvas class="top-sketch upside-down mirror-x" width="200" height="200"></canvas>
        <canvas class="front-sketch upside-down mirror-x" width="200" height="200"></canvas>
      </div>
    </div>
  </div>
</div>
