<div class='orientation-arrows' id='{{navId()}}' l-id='{{id()}}'>
  <table class='orientation-arrows-table controls-2d' cellspacing="0" cellpadding="0">
    <tbody>
      <tr><td></td>                  <td dir='u'>&#8679;</td>                         <td></td></tr>
      <tr><td dir='l'>&#8635;</td>  <td dir='c'>{{space()}}&#{{centerCode()}};{{space()}}</td>    <td dir='r'>&#8634;</td></tr>
      <tr><td></td>                  <td dir='d'>&#8681;</td>                         <td></td></tr>
    </tbody>
  </table>
</div>
