
<div class='decision-input-cnt mod' node-id='{{id()}}' recursion="disabled">
  <div node-id='{{id()}}' class='card'>
    <div class='payload-cnt'>{{payloadHtml()}}</div>
    <button class='then-button modify'>
      Then...
    </button>
    <div class='then-input-tree tab'></div>
    <div:t repeat='input in inputArray()'
          class='decision-input-array-cnt pad {{class}}' index='{{$index}}'>
      {{input.html()}}
      <div class='edit-input-cnt'><button>
        <i class="fas fa-pencil-alt"></i>
      </button></div>
      <span>
        <button class='conditional-button modify' target-id='{{input.id()}}'>
          If {{input.name()}}
        </button>
        <div hidden class='condition-input-tree tab'></div>
        <div class='children-recurse-cnt tab' value='{{input.value()}}'></div>
      </span>
    </div:t>
    <div class='orphan-cnt tab'></div>
    <br>
    <br>
    <div class='modification-add-input tab'>
      {{inputTree().html()}}
    </div>
    <div class='remove-btn-cnt'><button class='rm-node'>X</button></div>
  </div>
</div>
