
<div class='decision-tree-mod-cnt'>
    <div class='then-add-cnt'>
      <button hidden class='then-btn modify-edit' mod-id='1'>
        Then...
      </button>
      <button hidden class='add-btn modify-edit'mod-id='4'>Add Input</button>
    </div>
    <div hidden class='if-edit-cnt'>
      <button class='twentys edit-btn modify-edit' mod-id='2'>
        <i class="inline gg-pen"></i>
      </button>
      <button class='twentys conditional-btn modify-edit' mod-id='3'>
        If
      </button>
    </div>

    <div hidden class='then-cnt tab modify-edit' mod-id='1'>Then Html!</div>
    <div hidden class='condition-cnt tab modify-edit' mod-id='3'>Condition Tree Html!</div>
    <div hidden class='rm-edit-cnt modify-edit' mod-id='2'>
      <div class='edit-cnt'>Edit Tree Html!</div>
      <button class='modiy-rm-input-btn'>Remove</button>
    </div>
    <div hidden class='add-cnt tab modify-edit' mod-id='4'>
      Add Input Html!
    </div>
    <div class='remove-btn-cnt' hidden>
      <button class='rm-node modify-edit'>X</button>
    </div>

    <div class='close-cnts' hidden><button class='modify-edit'>X</button></div>
    <br>
    <br>
    <div class='copy-save-paste-cnt'>
      <div style='display: inline-block'>
        <textarea id='json-data'></textarea>
        <br>
        <button id="copy">Copy</button>
        <button id='paste' class='modify-edit' style='float:right'>Paste</button>
        <br><br>
        <button id="save" class='modify-edit'>Save</button>
      </div>
    </div>
</div>
