
<{{tag()}} class='decision-input-cnt mod' node-id='{{_nodeId}}' {{reachable() ? '' : 'hidden'}}>
  <span id='{{id}}'>
    <span:t repeat='input in inputArray'
          class='decision-input-array-cnt pad {{class}}' index='{{$index}}'>
      {{input.html()}}
      <span>
        <button class='conditional-button' target-id='{{input.id()}}'>
          If {{input.name()}} = {{input.value()}}
        </button>
        <div class='condition-input-tree tab'></div>
        <div class='children-recurse-cnt' value='{{input.value()}}'>{{childrenHtml(input.name(), true)}}</div>
      </span>
      <br>
    </span:t>
  </span>
  <div class='modification-add-input'>
    {{inputTree().html()}}
  </div>
</{{tag()}}>
