<div class='small-margin'>
  <table class='last-col-full'>
    <tr class='btm-border-barely-visible'>
      <th>Index</th>
      <th>Name</th>
      <th>Demensions</th>
      <th colspan="2">Show(L|R)</th>
      <th colspan="2">End Style(L|R)</th>
      <th>Shelves</th>
      <th>Notes</th>
    </tr>
    <tr:t repeat='cabinet in cabinets' class='btm-border-barely-visible'>
      <td>{{cabinet.groupIndex()}}</td>
      <td>{{cabinet.name()}}</td>
      <td>{{Utils.display.demensions(cabinet.position().demension())}}</td>
      <td>{{cabinet.value('showLeft.type')}}</td>
      <td>{{cabinet.value('showRight.type')}}</td>
      <td>{{cabinet.value('showLeft.endStyle')}}</td>
      <td>{{cabinet.value('showRight.endStyle')}}</td>
      <td>{{Utils.count.shelves(cabinet)}}</td>
      <td class='align-left'>{{Utils.textToHtml(cabinet.notes())}}</td>
    </tr:t>
  </table>
</div>
