<div class='small-margin'>
    <table>
      <tbody>
        <tr>
          <th>Category</th>
          <th>Unit</th>
          <th>Size</th>
        </tr>
        <no-tag:t repeat='category, set in partListMap'>
          <tr:t class='pad' repeat='thickness, partList in set' {{disp.materialUnits(partList,thickness).trim() === '0' ? 'hidden' : ''}}>
            <td>{{category}}</td>
            <td class='pad'>{{disp.materialUnits(partList,thickness)}}</td>
            <td>{{disp.materialArea(partList)}}</td>
          </tr:t>
        </no-tag:t>
      </tbody>
  </table>
</div>
