<div cabinet-list-hash='{{hash}}'>
  <div:t repeat='cabInfo in cabinetInfos' class='avoid-page-break center'>
    <div>
      <b>{{disp.partIdPrefix(cabInfo.parts[0])}}</b>
    </div>
    <div>
      <canvas class='upside-down mirror-x' id='{{cabCanvasId(cabInfo.parts[0], 'front')}}'></canvas>
      <canvas class='upside-down mirror-x' id='{{cabCanvasId(cabInfo.parts[0], 'top')}}'></canvas>
      <canvas class='upside-down mirror-x' id='{{cabCanvasId(cabInfo.parts[0], 'side')}}'></canvas>
    </div>
  </div:t>
</div>
