<div lookup-id='{{divider.id()}}'>
  <label>Type</label>
  {{inputs.dividerType(divider).html()}}
  <br>
  <label>Panel Thickness</label>
  <input type="text" name="panelThickness" value="{{Measurement.display(divider.panelThickness())}}">
  <br>
  <label>Has Frame</label>
  <input type="checkbox" name="has-frame"{{divider.hasFrame() ? ' checked' : ''}}>
  <br>
  <div class='frame-width-cnt'{{divider.hasFrame() ? '' : ' hidden'}}>
    <label>Frame Width</label>
    <input type="text" name="frameWidth" value="{{Measurement.display(divider.frameWidth())}}">
  </div>
  <div:t t-id='advanced/subassemblies/config'>{part: divider}</div:t>
</div>
