<table class='{{!obj.normalInfo || obj.normalInfo.valid ? '' : 'error'}}'>
  <tr>
    <th></th>
    <th:t repeat="char in ['i', 'j', 'k']">{{char}}</th:t>
    <th>Calculated</th>
    <th>Value</th>
  </tr>
  <tr:t index="{{$index}}" repeat="label in ['Cross Grain', 'With Grain', 'End Grain']"
          class='tab normal-vector-input-cnt {{!obj.normalInfo || obj.normalInfo.normals[$index] ? '' : 'error'}}'>
    <td><label>{{label}}</label></td>
    <td>
      <input class="dem" type="text"
            {{obj.normalInfo && obj.normalInfo.calc === $index ? 'disabled' : ''}}
            value="{{obj.normalInfo && obj.normalInfo.normals[$index][0]}}">
    </td>
    <td>
      <input class="dem" type="text"
            {{obj.normalInfo && obj.normalInfo.calc === $index ? 'disabled' : ''}}
            value="{{obj.normalInfo && obj.normalInfo.normals[$index][1]}}">
    </td>
    <td>
      <input class="dem" type="text"
            {{obj.normalInfo && obj.normalInfo.calc === $index ? 'disabled' : ''}}
            value="{{obj.normalInfo && obj.normalInfo.normals[$index][2]}}">
    </td>
    <td>
      <input type='radio' name='calculated-{{obj.id}}' class='calc-vect-radio'
        {{obj.normalInfo && obj.normalInfo.calc === $index ? 'checked' : ''}}>
    </td>
    <td>
      <input name='display' type='text' disabled value='{{normalToString(obj, $index)}}'>
    </td>
  </tr:t>
</table>
