<div class='center'>
  <div class='{{key ? "property-container close" : ""}}' radio-id='{{radioId}}'
        {{noChildren() ? 'hidden' : ''}}>
    <div class='{{key ? "expand-header" : ""}}'>
      {{key}}
    </div>
    <div{{key ? ' hidden' : ''}}>
      <div:t repeat='property in properties'>
        <label>{{property.name()}}</label>
        <input type="text" name="{{key}}" value="{{property.value()}}">
      </div:t>
      <div:t repeat='key, group in groups'>
        {{recurse(key, group)}}
      </div:t>
    </div>
  </div>
</div>
