<div class='center'>
  <div class='center'>
    <label>UNIT :&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <span:t repeat='property in Properties.UNITS'>
      <label>{{property.name()}}</label>
      <input type='radio' name='UNIT' prop-radio-update='{{property.id()}}'
            {{property.value() === true ? 'checked' : ''}}>
    </span:t>
  </div>
  <div:t repeat='key, properties in values' {{hideAll(properties) ? 'hidden' : ''}}>
    <div class="property-container close" radio-id='666'>
      <div class='{{key ? "expand-header" : ""}}'>
        {{key}}
      </div>
      <div id='config-expand-list-{{childIdMap[key]}}' hidden>
        {{childIdMap[key]}}
      </div>
    </div>
  </div:t>
</div>
