<div type-2d='{{target.constructor.name}}' id='{{target.id()}}'
        x='{{lastImagePoint.x}}' y='{{lastImagePoint.y}}'>
  <span:t repeat='property in UNITS'>
    <label>{{property.name()}}</label>
    <input class='transparent' type='radio' name='UNIT2'
          prop-radio-update='{{property.id()}}' value="{{property.name()}}"
          {{property.value() === true ? 'checked' : ''}}  is-raw>
  </span:t>
  <br>
  <input type='text' class='measurement-mod transparent' value='{{target.display()}}'>
</div>
