<div type-2d='{{target.constructor.name}}' id='{{target.id()}}'
        x='{{lastImagePoint.x}}' y='{{lastImagePoint.y}}'>
  <label>Depth</label>
  <input class='value-2d' type="text" key="height" value="{{display(target.object().height())}}">
  <label>Width</label>
  <input class='value-2d' type="text" key="width" value="{{display(target.object().width())}}">
  <label>Angle</label>
  <input class='value-2d' type="text" convert='false' key="angle" value="{{target.object().angle()}}">
  <label>X</label>
  <input class='value-2d' type="text" key="x" value="{{display(target.object().x())}}">
  <label>Y</label>
  <input class='value-2d' type="text" key="y" value="{{display(target.object().y())}}">
</div>
