<div type-2d='{{target.parent().constructor.name}}'
        id='{{target.parent().id()}}'
        x='{{lastImagePoint.x}}' y='{{lastImagePoint.y}}'>

  <div:t class='tab' $t-id='2d/auto-location-properties'>autoLocProps</div:t>
  <label>Name</label>
  <input class='value-2d' member='object' type="text" key="name" value="{{target.parent().name()}}">
  <br><br>
  <label>Width</label>
  <input class='value-2d' member='object' type="text" key="width" value="{{display(target.width())}}">
  <br>
  <label>Depth</label>
  <input class='value-2d' member='object' type="text" key="thickness" value="{{display(target.height())}}">
  <br>
  <label>height</label>
  <input class='value-2d' member='bridge' type="text" key="depth" value="{{display(target.parent().depth())}}">
  <br>
  <label>Angle</label>
  <input class='value-2d' member='snap' type="text" convert='false' key="angle" value="{{target.angle()}}">
  <br>
  <label>X</label>
  <input class='value-2d' member='snap' type="text" key="x" value="{{display(target.x())}}">
  <br>
  <label>Y</label>
  <input class='value-2d' member='snap' type="text" key="y" value="{{display(target.y())}}">
  <br>
  <label>From Floor</label>
  <input class='value-2d' member='bridge' type="text" key="fromFloor" cascade='fromCeiling' value="{{display(target.parent().fromFloor())}}">
  <br>
  <label>From Ceiling</label>
  <input class='value-2d' member='bridge' type="text" key="fromCeiling" cascade='fromFloor' value="{{display(target.parent().fromCeiling())}}">
  <br>
  <div {{target.parent().obj3D().constructor.name === 'Object3D' ? '' : 'hidden'}}>
    <label>Type</label>
    <select id='modler-selector'>
      <option>Rectangle</option>
      <option:t repeat='name in SimpleModel.list()'
              {{target.parent().obj3D().modeler().constructor.name === name ? 'selected' : ''}}>
        {{name}}
      </option:t>
    </select>
  </div>
  <br>
  <button class='remove-btn-2d transparent'>Remove</button>
</div>
