

.options-cnt {
  display: inline-flex;
}

.tab {
  padding-left: 20pt;
}

.options-cnt>h4 {
  margin-top: 0;
  margin-bottom: 0;
}

@media print {
  .dont-print {
    display: none;
  }
}

.drag-drop-popup-cnt {
  background-color: white;
  padding: 2pt 5pt;
  border-radius: 5pt;
}

.center {
  text-align: center;
}

#three-d-display {
  position: relative;
}
