<div>
  <br>
  <div class="loading-bar-cnt main-progress-cnt">
    <div class="loading-bar center" style="width:{{progress}}%">
      {{progress}}%
    </div>
  </div>
  <br>
  <div class='ind-task-progress-cnt'>
    <span:t repeat='task in tasks' {{task.progress() === 100 ? 'hidden' : ''}}>
      {{task.process()}})
      {{task.status()}}
      {{task.progress()}}%
      <div class="loading-bar-cnt">
        <div class="loading-bar center" style="width:{{task.progress()}}%">
          {{task.progress()}}%
        </div>
      </div>
    </span:t>
  </div>
</div>
