<label>Polygons</label>
<input type='checkbox' name='polygons' {{CONTROLS.POLYGONS ? 'checked' : ''}}>
<br>
<label>Outline</label>
<input type='checkbox' name='outline' {{CONTROLS.OUTLINE ? 'checked' : ''}}>
<br/>
<label>Wireframe</label>
<input type='checkbox' name='wireframe' {{CONTROLS.WIREFRAME ? 'checked' : ''}}>
<br/>
<label>Axis</label>
<input type='checkbox' name='axis' {{CONTROLS.AXIS ? 'checked' : ''}}>
<br>
<label>Background Color</label>
<input type="color" value="{{CONTROLS.BACKGROUND_COLOR}}" name='background-color'>
