.card {
  padding: 5pt;
  border: 1px solid;
  border-radius: 5pt;
  box-shadow: 3px 3px 6px black, 3px 3px 6px grey, 3px 3px 6px lightgrey;
  position: relative;
}

.relitive {
  position: relative;
}

.abs-top-right {
  position: absolute;
  top: 0;
  left: 100%;
}

.decision-input-array-cnt {
  width: fit-content;
  position: relative;
  padding: 0 45pt;
}

.decision-input-cnt {
  min-height: 25pt;
}
.single-entry-cnt {
  padding: 1pt 0;
}

.twentys {
  height: 25pt;
  width: 25pt;
}

--TODO: make its own file



.expandable-list {
    border-style: solid;
    border-width: 1px;
    border-radius: 10pt;
}

.expand-list-cnt.pill {
  display: inline-flex;
}

.expand-list-sidebar-input {
  width: 80%;
}

.expand-item {
  position: relative;
  margin: 2pt;
  border-style: solid;
  border-width: 0 1pt 1pt 1pt;
  border-color: gray;
  border-radius: 10pt;
}

.expandable-list.sidebar {
  display: inline-flex;
  padding: 3pt;
}

.expand-rm-btn-cnt {
  position: absolute;
  pointer-events: none;
  right: 0;
}

.expandable-item-rm-btn {
  position: absolute;
  right: 0;
  padding: 0 2pt;
  font-size: small;
  font-weight: bold;
  border-radius: 10pt;
  color: red;
  background-color: white;
  margin: 3pt;
  display: none;
}

.toggle-display-item {
  padding: 5pt 20pt;
  background-color: darkgray;
  border-radius: 10pt;
  display: inline-block;
  border-radius: 10pt 10pt 0pt 0pt;
}

.toggle-display-item.active {
  background-color: blue;
  color: white;
  font-weight: bolder;
  border-radius: 10pt 10pt 0pt 0pt;
}

.expand-header {
  padding: 5pt 20pt;
  background-color: darkgray;
  border-radius: 10pt;
}

.expand-header.pill {
  display: inline-block;
  border-radius: 10pt 10pt 0pt 0pt;
  padding: 0 30pt 4pt 10pt;
}

.expand-body {
  padding-left: 20pt;
  border-radius: 0pt 0pt 10pt 10pt;
  background-color: whitesmoke;
  padding-bottom: 10pt;
}

.expand-tab {
  padding-left: 10pt;
}

.expandable-item-rm-btn:hover {
    background-color: black;
}

.expand-body.pill {
  display: inline-block;
  border-radius: 0pt 0pt 10pt 10pt;
  background-color: whitesmoke;
  padding: 0;
  padding-bottom: 10pt;

  margin: 2pt;
  border-style: solid;
  border-width: 0 1pt 1pt 1pt;
  border-color: gray;
  border-radius: 10pt;
}


.expand-header.active {
  background-color: blue;
  color: white;
  font-weight: bolder;
  border-radius: 10pt 10pt 0pt 0pt;
}

.expand-header.sidebar {
  border-radius: 10pt 0 0 10pt;
  padding: 0 0 0 5pt;
}

.expand-header:hover {
  background-color: black;
  color: white;
  font-weight: bolder;
}

.expand-header.active.no-body {
  border-radius: 10pt;
}

.expand-header.error {
  font-weight: 700;
  color: red;
  background-color: pink;
}

.drag-drop-popup-cnt {
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding: 5pt;
  border: 1px solid;
  border-radius: 5pt;
  box-shadow: 3px 3px 6px black, 3px 3px 6px grey, 3px 3px 6px lightgrey;
}


.orientation-arrows-table, .orientation-arrows-table > tbody,
.orientation-arrows-table > tbody > tr, .orientation-arrows-table > tbody > tr > td {
  border: none;
}

.orientation-arrows {
  position: absolute;
  bottom: 0;
  right: 10px;
}
