.pop-up {
  background-color: white;
  max-width: 80vw;
  max-height: 75vh;
  padding: 5vh 5vw;
  display: inline-block;
  border-radius: 20pt;
  scroll-behavior: auto;
  overflow: scroll;
}

.pop-up-haze {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: rgba(0,0,0,0.6);
  padding: 5vh 1vw;
}
