<div>
  <h4>Opening Border Part Codes</h4>
  <div class='tab border-part-code-cnt'>
    {{select.html()}}
    <input class='opening-part-code-input' attr='openings' name='partCode' value="{{obj[select.value()]}}">
  </div>
  <h4>Opening Border Locations</h4>
  <div class='tab'>
    Definition Type:
    <div class='tab'>
      <label>Default</label>
      <input class='opening-type-selector' type='radio' name="definitionType-{{obj.id}}" value='Default'
            {{obj._Type === undefined ? 'checked' : ''}}>
      <label>Manual</label>
      <input class='opening-type-selector' type='radio' name="definitionType-{{obj.id}}" value='location'
            {{obj._Type === 'location' ? 'checked' : ''}}>
      <label>Slice (L/R)</label>
      <input class='opening-type-selector' type='radio' name="definitionType-{{obj.id}}" value='slice'
            {{obj._Type === 'slice' ? 'checked' : ''}}>
    </div>
    <div class='border-location-cnt' {{obj._Type === 'location' ? '' : 'hidden'}}>
      <label>Inner</label>
      <input type="radio" name="innerOouter-{{obj.id}}" value="true"
          {{state.innerOouter === 'true' ? 'checked' : ''}}>
      <label>Outer</label>
      <input type="radio" name="innerOouter-{{obj.id}}" value="false"
          {{state.innerOouter === 'false' ? 'checked' : ''}}>
      <br><br>

      <label>Vertex:</label>
      <br>
      <span:t repeat='i in 0..4' class='border-location-cnt'>
        <label>{{i}}</label>
        <input type="radio" name="index-{{obj.id}}" value="{{i}}"
            {{state.index === i ? 'checked' : ''}}>
      </span:t>

      <br><br>
      <label>X</label>
      <input type="radio" name="xOyOz-{{obj.id}}" value="x"
          {{state.xOyOz === 'x' ? 'checked' : ''}}>
      <label>Y</label>
      <input type="radio" name="xOyOz-{{obj.id}}" value="y"
          {{state.xOyOz === 'y' ? 'checked' : ''}}>
      <label>Z</label>
      <input type="radio" name="xOyOz-{{obj.id}}" value="z"
          {{state.xOyOz === 'z' ? 'checked' : ''}}>
      <br><br>
      <input type='text' name='opening-coordinate-value' value=''>
    </div>
    <div class='border-slice-cnt' {{obj._Type === 'slice' ? '' : 'hidden'}}>
      Left Side Depth
      <input type='text' name='leftDepth' value='{{leftDepth}}'>
      <br>
      Right Side Depth
      <input type='text' name='rightDepth' value='{{rightDepth}}'>
    </div>
    <div class='opening-location-value-cnt'></div>
    <div class='opening-location-description-cnt'></div>
  </div>
</div>
