<div class='pulls-mod-cnt' has-pulls-id='{{hasPulls.id()}}'>
  <div class='inline-flex chev-dropdown-toggle'>
    {{prefix}} Pulls
    <i class='down gg-chevron-down hidden' ></i>
    <i class='right gg-chevron-right'></i>
  </div>
  <div class='tab chev-dropdown' hidden>
    <div:t repeat='pull in hasPulls.pulls()' index='{{$index}}'>
      {{$index + 1}})
      {{sizeInputHtml($index)}}
      <label>Location</label>
      <select name='location'>
        <option:t repeat='id, location in pull.constructor.location'
                {{pull.location().position === location.position ? 'selected' : ''}}>
          {{id}}
        </option:t>
      </select>
    </div:t>
    <button type="button" class="add-pull">Add Pull</button>
  </div>
</div>
