<{{inline() ? 'span' : 'div'}} class='input-cnt'{{hidden() ? ' hidden' : ''}}
      input-id='{{id()}}'>
  <label>{{label()}}</label>
  <input class='{{class()}}' list='input-list-{{id()}}' id='{{id()}}'
      placeholder='{{placeholder()}}' type='{{type()}}' name='{{name()}}'
      {{attrString()}} {{checked()}}>
  <datalist id="input-list-{{id()}}">
    <option:t value="{{item}}" repeat='item in list()'></option:t>
  </datalist>
  <div class='error' id='{{errorMsgId()}}' hidden>{{errorMsg()}}</div>
</{{inline() ? 'span' : 'div'}}>
