html {
  font-size: 1rem;
  scroll-behavior: smooth;
}

@media (min-width: 576px) {
    html, a, b { font-size: 2rem; }
}
@media (min-width: 768px) {
    html, a, b { font-size: 2rem; }
}
@media (min-width: 992px) {
    html, a, b { font-size: 1.25rem; }
}
@media (min-width: 1200px) {
    html, a, b { font-size: 1.25rem; }
}

.error-msg {
  font-size: 16px;
  color:
  red;
}

.copy-btn {
  display:none;
  font-size: x-small;
  padding: 4pt;
  margin: 10pt;
}
